$bg-color: #222;
.header-font {
  font-size: 4vw;
}

.subtext-font {
  font-size: 2.5vw;
}

.price-font {
  font-size: 6vw;
}

.description {
  font-size: 2vw;
}

.App {
  text-align: center;
}

// Navbar styling
.navBar {
  position: relative;
  z-index: 999;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 999;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: transparent;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 999;
}

.menuNav.showMenu {
  width: 100%;
}

.page-link {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 9vh;
}

.slideshow {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slideshowSlider {
  white-space: noWrap;
  transition: ease 1000ms;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.slide {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.slideshowDots {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -18vh;
}

.slideshowDot {
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5vw 0.5vw 0vw;
  background-color: grey;
}

.slideshowDot.active {
  background-color: purple;
}

.landing-page-header {
  position: relative;
  text-align: center;
  margin-top: -28vh;
  color: white;
}

.main-header {
  margin: 0 auto;
  font-size: 4vw;
}

.subtext {
  margin: 0 auto;
  max-width: 40vw;
  font-size: 1.75vw;
}

[class*='btn-'] {
  outline: 0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: '';
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
  }
}

[class*='btn-mix'] {
  &::after {
    background: $bg-color;
    border-radius: 120px;
    content: attr(data-text);
    color: #fff;
    padding: 1.6em 2.5em;
    top: 0.4em;
    left: 0.5em;
    -moz-user-select: none;
    user-select: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0, 0.5),
      4em 0em 2em 2em rgba(155, 50, 0, 0.6),
      -4em -2em 2em 2em rgba(255, 0, 150, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 150, 0.5),
      0 -3em 2em 3em rgba(120, 250, 0, 0.5),
      2em -1em 2em 2em rgba(50, 10, 200, 0.5);
    width: 0;
    height: 0;
    animation: mix 5s linear infinite;
  }
  z-index: 1;
}

.button {
  margin-top: -15vw;
  text-align: center;
}

.perks-button {
  text-align: right;
  padding-top: 10vh;
  padding-bottom: -10vh;
}

@keyframes mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }

  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

body {
  background: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.music-component {
  width: 100vw;
  height: 100vh;
  background-color: #fb3640;
  position: relative;
  text-align: left;
  margin-top: -2.75vw;
}

.music-container {
  margin-left: 8vw;
}

.music-header {
  padding-top: 35vh;
  color: white;
  font-size: 4vw;
}

.music-subtext {
  font-size: 3vw;
  margin-top: -4vh;
  max-width: 40vw;
}

.demo-button {
  border-style: none;
  border-radius: 2.5vw;
  padding: 1.25vw;
  background: ivory;
  color: #fb3640;
  font-size: 1.5vw;
  margin-top: -4vh;
  cursor: pointer;
}

.demo-button:hover {
  color: ivory;
  background: #fb3640;
}

.audio-container {
  z-index: 1;
}
.play-music-button {
  border-radius: 50%;
  padding: 4vh;
  background-color: #ce1212;
  color: white;
  font-size: 2vw;
  margin-top: -10vh;
  margin-left: 57vw;
  cursor: pointer;
  max-width: 17vw;
}
.play-music-button:hover {
  background-color: #810000;
}

.playing {
  background-color: #34656d;
}
.playing:hover {
  background-color: #02475e;
}

img[alt='speakerSvg'] {
  position: relative;
  width: 40vw;
  height: auto;
  margin-top: -80vh;
  margin-left: 45vw;
  margin-bottom: 5vh;
}

img[alt='front-row-1'] {
  height: 70vh;
  width: 35vw;
  border-radius: 50%;
}
.front-row-1 {
  position: relative;
  margin-top: -32vh;
  padding-left: 5vw;
}

img[alt='front-row-2'] {
  height: 50vh;
  width: 25vw;
  border-radius: 50%;
}
.front-row-2 {
  position: relative;
  margin-top: -90vh;
  padding-left: 25vw;
}

img[alt='front-row-3'] {
  height: 60vh;
  width: 30vw;
  border-radius: 50%;
}
.front-row-3 {
  position: relative;
  padding-left: 75vw;
  margin-top: 5vh;
  overflow: hidden;
}

.perks-container {
  width: 100vw;
  height: 100vh;
}

.contact-container {
  width: 100vw;
  height: 60vh;
}

.pricing-container {
  width: 100vw;
  height: 170vh;
  background-color: black;
}

.text-container {
  padding-top: 12vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  position: relative;
  text-align: left;
  color: white;
}

.list-container {
  margin-top: -5vh;
  color: white;
}

.plan-container {
  text-align: center;
}

.basic-plan,
.advanced-plan,
.pro-plan {
  display: inline-block;
  padding: 0vw 2vw;
  max-width: 30vw;
}

.basic-plan {
  color: #fb3640;
}
.basic {
  background-color: #fb3640;
  font-size: 1.5vw;
  color: white;
}
.basic:hover {
  background-color: #be0000;
}

.advanced-plan {
  color: #fea82f;
}
.advanced {
  background-color: #fea82f;
  font-size: 1.5vw;
  color: white;
}
.advanced:hover {
  background-color: #c06014;
}

.pro-plan {
  color: #3edbf0;
}
.pro {
  background-color: #3edbf0;
  font-size: 1.5vw;
  color: white;
}
.pro:hover {
  background-color: #1597bb;
}

.basic-line,
.advanced-line,
.pro-line {
  margin-top: -20px;
}

.basic-monthly,
.advanced-monthly,
.pro-monthly,
.basic-price,
.advanced-price,
.pro-price {
  margin-top: -10px;
}

.select-plan {
  width: 20vw;
  padding: 1vw;
  border-radius: 2vw;
  cursor: pointer;
}

.perks-container {
  background-color: #f05945;
  text-align: center;
}

.column1,
.column2,
.column3 {
  display: inline-block;
  max-width: 18vw;
  color: white;
  padding: 0px 4vw;
  text-align: left;
}

.description {
  color: black;
}

.perks-line {
  margin-top: -12vh;
}

.contact-container {
  background-color: #6a65d8;
  margin-top: -6vh;
}

.email {
  margin-left: 10vw;
  padding-top: 18vh;
  color: white;
  font-size: 2vw;
}

.footer-name {
  text-align: center;
  margin-top: 12vh;
  color: white;
  font-size: 2.5vw;
}

.copyright {
  text-align: center;
  color: white;
}

.teal {
  color: #3edbf0;
}

.red {
  color: #fb3640;
}

.yellow {
  color: #fea82f;
}

.white {
  color: white;
}

.dark {
  background-color: black;
}

.text-container-dark {
  padding-top: 16vh;
  padding-bottom: 12vh;
  padding-left: 10%;
  position: relative;
  text-align: left;
  color: white;
  margin-top: -15vh;
}

.front-row-seats-container {
  position: relative;
  background: #ffc93c;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.front-row-header {
  position: relative;
  text-align: right;
  padding-top: 30vh;
  padding-right: 12vw;
  font-size: 4vw;
  color: white;
}

.front-row-description {
  position: relative;
  font-size: 2.5vw;
  color: black;
}

.front-row-button {
  position: relative;
  font-size: 1.5vw;
  margin-right: 15vw;
  width: 16vw;
  padding: 1.25vw;
  border-radius: 25px;
  border-style: none;
  color: #ffc93c;
  cursor: pointer;
  z-index: 10;
}

.front-row-photos {
  position: relative;
  z-index: -10;
}

.front-row-seats-container {
  position: relative;
  z-index: 10;
}

.go-to-pricing {
  color: #ffc93c;
}

.hide {
  display: none;
}
